@import "../../utils/variables";

.menu-visible {
    margin-top: -35px;
    transition: 1s;
    width: 200px;
}

.menu-hidden {
    margin-left: -300px;
    margin-top: -40px;
    transition: 1s;
    width: 200px;
}

.cross-sign {
    color: white;
    margin-left: 175px;
    z-index: 1;
    font-size: 30px;
    padding-top: 7px;
    transition: 1s;
}

.hamburger-sign {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 25px;
    transition: 1s;
}

.menu {
    background-color: rgba(61, 55, 55, 0.36);
    width: 200px;
    height: 100vh;
    padding-top: 20px;

    &__element {
        list-style: none;
        cursor: pointer;
        margin-bottom: 17.5px;
        padding-left: 20px;
        padding-top: 10px;

        &:hover {
            color: white;
        }
    }
}
