@import url('https://fonts.googleapis.com/css?family=Chilanka&display=swap');

.logo {
    font-family: 'Chilanka', 'Open Sans', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    position: relative;
    top: -420px;

     @media screen and (min-width: 500px) {
            top: -350px;
            font-size: 40px;
    }

    @media screen and (min-width: 900px) {
        font-size: 70px;
    }

    &__text {

   }
}