@import url('https://fonts.googleapis.com/css?family=Manjari&display=swap');

.container {
    width: 100%;
    font-family: 'Manjari', 'Open Sans', sans-serif;
    font-weight: bold;
    height: 700px;
    background-image: url('../../images/gray-2158653_653.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}